<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false" scan="true" scanPeriod="30 seconds"
	packagingData="true">
	<!-- 设置 logger context 名称,一旦设置不可改变，默认为default -->
	<contextName>mmorpg.mir</contextName>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- 当前活动日志文件名 -->
		<file>./logs/my_log.log</file>
		<!-- 文件滚动策略根据%d{patter}中的“patter”而定，此处为每天产生一个文件 -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- 归档文件名“.zip或.gz结尾”,表示归档文件自动压缩 -->
			<FileNamePattern>./logs/my_log%d{yyyyMMdd}.log.zip</FileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS}[%-5level][%thread]%logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<!-- 日志级别若没显示定义，则继承最近的父logger（该logger需显示定义level,直到rootLogger）的日志级别 -->
	<!-- logger的appender默认具有累加性（默认日志输出到当前logger的appender和所有祖先logger的appender中），可通过配置 
		“additivity”属性修改默认行为 -->
	<logger name="com.windforce" level="debug" additivity="false">
		<appender-ref ref="FILE" />
	</logger>

	<!-- 至多只能配置一个root -->
	<root level="debug">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
</configuration>